#.env (Private)

# Copia e incolla qui l'intero contenuto JSON scaricato dalla console Firebase
# Assicurati che sia una stringa JSON valida
FIREBASE_ADMIN_KEY='{
  "type": "service_account",
  "project_id": "PROJECT_ID",
  "private_key_id": "PRIVATE_KEY_ID",
  "private_key": "PRIVATE_KEY",
  "client_email": "CLIENT_EMAIL",
  "client_id": "CLIENT_ID",
  "auth_uri": "AUTH_URI",
  "token_uri": "TOKEN_URI",
  "auth_provider_x509_cert_url": "AUTH_PROVIDER_X509_CERT_URL",
  "client_x509_cert_url": "CLIENT_X509_CERT_URL",
  "universe_domain": "UNIVERSE_DOMAIN",
}'
PUBLIC_FIREBASE_ADMIN_KEY = PUBLIC_FIREBASE_ADMIN_KEY
PUBLIC_FIREBASE_AUTH_DOMAIN = PUBLIC_FIREBASE_AUTH_DOMAIN
PUBLIC_FIREBASE_PROJECT_ID = PUBLIC_FIREBASE_PROJECT_ID
PUBLIC_FIRESTORE_STORAGEBUCKET = PUBLIC_FIRESTORE_STORAGEBUCKET
PUBLIC_FIRESTORE_MESSAGINGSENDERID = PUBLIC_FIRESTORE_MESSAGINGSENDERID
PUBLIC_FIRESTORE_APPID = PUBLIC_FIRESTORE_APPID
PUBLIC_FIRESTORE_MEASUREMENTID = PUBLIC_FIRESTORE_MEASUREMENTID
PUBLIC_CLOUD_MESSAGING_KEY = PUBLIC_CLOUD_MESSAGING_KEY

ADMIN_EMAILS_LIST="admin@admin.com"

PRIVATE_KEY_ID = ""
PRIVATE_KEY = ""